/*Styles for Charlotte's Web website*/
#banner{
	min-height: 50vh;
	/*background: url("../images/back.png") no-repeat center;
	background-size: cover;*/
	background-color: #212121;
	/*position: absolute;
	width: 100%;*/
}

#banner-img{
	display: block;
	margin: auto;
	text-align: center;
}

#banner-img img{
	max-width: 200px;
}

#banner h3{
	margin-top: 2px;
}

#login-container{
	max-width: 480px;
	z-index:1;
}

#login-container .card-title{
	margin: 0 auto 10px;
    display: block;
    text-align: center;
}

#login-card{
	margin-top: -150px;
	max-width: 720px;
	background-color: #F7F7F7;
	padding: 5px 20px;
}

#login-card input{
	border: 1px solid #d9d9d9;
	background-color: #fff;
	font-size: 24px;
	padding: 0 8px;
	max-width: 100%;
	margin-left: -8px;
}

#login-card input:focus{
	border: 1px solid #4D90FE;
	box-shadow: none;
}

#login-btn{
	width: 80%;
	background-color: #4D90FE;
}

.main-background{
	height: 100vh;
	background-color: #212121;
}

#sign-out .btn-flat{
	margin: 20px 10px;
	font-size: 1.25em;
}

#sign-out .btn-flat:hover{
	color: #F55449 !important;
}

.vh-center-container{
	position: relative;
}

.vh-center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#question-holder{
	min-width: 720px;
}

#question-holder .card-title{
	font-size: 1.1em;
	font-weight: 400;
}

#question-holder form button[type="submit"]{
	margin-top: 10px;
}

#question-holder label{
	font-size: 1.15em;
	margin: 10px 5px;
	color: #717171;
}

#question-holder input[type="radio"]:checked+label:after{
	border: 2px solid #F55443;
	background-color: #F55443;
}

#question-holder .card-action{
	padding: 0;
}

#question-holder .card-action .btn-flat{
	margin: 10px;
	color : #F55443;
}

#question-holder .card-action .btn-flat:hover{
	background: #F7F7F7;
}

#question-numbers{
	margin-top: -10px;
}

#question-numbers .card-content{
	padding: 0;
}

#question-holder .card-content p:last-child{
	display: none;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.loader{
    position: relative;
    width: 200px;
    height: 200px;
    float:left;
    user-select: none;
    box-sizing: border-box;
    margin-bottom: 20px;
    top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.loader-bg
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 15px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
}
.spiner-holder-one
{
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
    width: 50%;
    height: 50%;
    background: transparent;
    box-sizing: border-box;
}
.spiner-holder-two
{
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: transparent;
    box-sizing: border-box;
}
.loader-spiner
{
    width: 200%;
    height: 200%;
    border-radius: 50%;
    border: 15px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
}  
  .animate-0-25-a
{
    transform: rotate(90deg);
    transform-origin: 100% 100%;
}
.animate-0-25-b
{
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
}
.animate-25-50-a
{
    transform: rotate(180deg);
    transform-origin: 100% 100%;
}
.animate-25-50-b
{
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
}
.animate-50-75-a
{
    transform: rotate(270deg);
    transform-origin: 100% 100%;
}
.animate-50-75-b
{
    transform: rotate(-90deg);
    transform-origin:100% 100%;
}
.animate-75-100-a
{
    transform: rotate(0deg);
    transform-origin: 100% 100%;
}
.animate-75-100-b
{
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
}
.text
{
    text-align: center;
/*    padding-top:32%;*/
    font-size: 3em;     
    color: rgba(255, 255, 255, 0.3);
}
table{
	margin: 20px auto;
}